.theme-nord {
  --bg-primary: theme('colors.nord.polar-night-1');
  --bg-secondary: theme('colors.nord.polar-night-2');
  --bg-bar: theme('colors.nord.polar-night-3');
  --text-primary: theme('colors.nord.snow-storm-1');
  --text-secondary: theme('colors.nord.snow-storm-2');
  --accent: theme('colors.nord.frost-2');
  --accent-secondary: theme('colors.nord.aurora-green');
  --accent-hover: theme('colors.nord.frost-1');
  --accent-red: theme('colors.nord.aurora-red');
  --accent-orange: theme('colors.nord.aurora-orange');
}

.theme-solarized {
  --bg-primary: theme('colors.solarized.base03');
  --bg-secondary: theme('colors.solarized.base02');
  --bg-bar: theme('colors.solarized.base01');
  --text-primary: theme('colors.solarized.base0');
  --text-secondary: theme('colors.solarized.base1');
  --accent: theme('colors.solarized.blue');
  --accent-secondary: theme('colors.solarized.green');
  --accent-hover: theme('colors.solarized.cyan');
  --accent-red: theme('colors.solarized.red');
  --accent-orange: theme('colors.solarized.orange');
}
